{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 90,
  "experimentalTernaries": true,
  "embeddedLanguageFormatting": "auto"
}
