@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', system-ui, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply font-normal leading-normal;
}

#root {
  @apply min-h-screen min-w-80 flex flex-col;
}

.rectangle {
  background-color: transparent;
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  appearance: none;
  -webkit-box-shadow: 0 0 0px 1000px hwb(0 100% 0% / 1) inset;
  -webkit-text-fill-color: hsla(1, 7%, 12%);
}
